<!DOCTYPE HTML>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<title>ThePeachTimes</title>
<meta property="og:site_name" content="ThePeachTimes">
<meta property="og:title" content="ThePeachTimes">
<meta property="title" content="ThePeachTimes">
<meta name="author" content="LickTheCheese">
</head>
<body>
<div class="tbar">
<h1>ThePeachTimes</h1>
<ul>
<li><a href='/'>Home</a></li>
<li><a href='/about.html'>About</a></li>
<li><a href='https://github.com/thepeachtimes'>GitHub</a></li>
</ul>
</div>
<div class="wrapper">
<!-- bs insert -->



<!-- end bs -->
</div>


</body>
